body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333333;
}

#chart {
	border-spacing: 0;
	font-size: 12px;
	min-height: 200px;
	width: 100%;
}

#chart td {
	padding: 0 12px;
	text-align: center;
	min-width: 50px;
	max-width: 160px;
}

#chart td.right {
	border-right: 1px solid;
}

#chart td.bottom {
	border-bottom: 1px solid;
}

#chart td.top {
	border-top: 1px solid;
}

#chart tr.level td,  #chart tr.level2 td{
	padding: 0;
	border-color: #bbb;
}

#chart tr.level td {
	font-style: italic;
	text-align: right;
	padding: 18px 3px 0 3px;
	color: #777;
}

.item {
	position: relative;
	border: 1px solid #333;
	border-radius: 3px;
	padding: 10px;
	text-align: center;
	background-color: #fff;
	cursor: pointer;
	box-shadow: 5px 5px 10px rgba(50, 50, 50, 0.5);
}

.current {
	border: 1px solid #FFCA00;
	box-shadow: 0 0 6px rgba(255, 217, 0, 0.5);
}

.selected {
	background-color: #eee;
}

.group {
	position: relative;
	box-shadow: none;
}

.group:before {
	content: " ";
	position: absolute;
	z-index: -1;
	left: 5px;
	top: 5px;
	bottom: -5px;
	right: -5px;
	border-radius: 3px;
	border: 1px solid #333;
	background-color: #fff;
}

.group:after {
	content: " ";
	position: absolute;
	z-index: -2;
	left: 9px;
	top: 9px;
	bottom: -9px;
	right: -9px;
	border-radius: 3px;
	border: 1px solid #333;
	background-color: #fff;
    box-shadow: 5px 5px 10px rgba(50, 50, 50, 0.5);
}

.more {
	position: relative;
	cursor: pointer;
	border: none;
}